@model PaintShopMVC.ModelView.OrderViewModel

@{
    ViewData["Title"] = "Wybierz sposób dostawy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8">
        <form asp-action="CreateOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Sposób dostawy</label>
                <select asp-for="DeliveryId" asp-items="@Model.DeliveriesToSelect" class="form-control" id="cat2">
                </select>
            </div>
            <div class="form-group" id="Address" >
                <label class="control-label">Wybierz adres</label>
                <select asp-for="AddressId" asp-items="@Model.AddressesToSelect" class="form-control" id="cat">
                </select>
            </div>
            <div id="newAddress">
                <div class="form-group">
                    <input type="hidden" asp-for="CartId" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Items" />
                </div>
                <div class="form-group">
                    <label asp-for="Address.FirstName" class="control-label"></label>
                    <input asp-for="Address.FirstName" class="form-control" />
                    <span asp-validation-for="Address.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address.LastName" class="control-label"></label>
                    <input asp-for="Address.LastName" class="form-control" />
                    <span asp-validation-for="Address.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address.Street" class="control-label"></label>
                    <input asp-for="Address.Street" class="form-control" />
                    <span asp-validation-for="Address.Street" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Address.PostalCode" class="control-label"></label>
                    <input asp-for="Address.PostalCode" class="form-control" />
                    <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Address.City" class="control-label"></label>
                    <input asp-for="Address.City" class="form-control" />
                    <span asp-validation-for="Address.City" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Address.Country" class="control-label"></label>
                    <input asp-for="Address.Country" class="form-control" />
                    <span asp-validation-for="Address.Country" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Address.HouseNumber" class="control-label"></label>
                    <input asp-for="Address.HouseNumber" class="form-control" />
                    <span asp-validation-for="Address.HouseNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Address.ApartmentNumber" class="control-label"></label>
                    <input asp-for="Address.ApartmentNumber" class="form-control" />
                    <span asp-validation-for="Address.ApartmentNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Address.PhoneNumber" class="control-label"></label>
                    <input asp-for="Address.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Address.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="Address.Email" class="control-label"></label>
                    <input asp-for="Address.Email" class="form-control" />
                    <span asp-validation-for="Address.Email" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Zatwierdź" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{

    <script>
        $(function () {
            $('#cat').change(function () {
                var val = $(this).val();
                if (val == "nd") {
                    $('#newAddress').show();
                }
                else {
                    $('#newAddress').hide();
                }
            });
        });

    </script>
}