@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center h-75">
    <h1 class="display-4">Witaj w sklepie z farbami "Farbka"</h1>
    <div class="container">
        <img src="~/IMG/logo.jpg" class="img-fluid h-75" alt="Obraz">
    </div>
</div>
