
@{
    ViewData["Title"] = "Home";
}

<h3>Wybierz z jakiej kategorii produkty chcesz zobaczyć</h3>
<a class="btn btn-dark" asp-action="ProductList">Wszystkie produkty</a>
<a class="btn btn-dark" asp-action="PaintList">Farby</a>
<a class="btn btn-dark" asp-action="AccessoriesList">Akcesoria</a>
<a class="btn btn-dark" asp-action="SolventsList">Rozpuszczalniki</a>


